
body {
  color: rgb(40, 75, 88);
}

.app {
}

.vh100 {
  min-height: 100vh;
}

.btn-primary {
  color: #fff;
  background-color: rgb(84, 135, 154);
  border-color: rgb(84, 135, 154);
}

.btn-primary:hover {
  color: #fff;
  background-color: rgb(40, 75, 88);
  border-color: rgb(40, 75, 88);
}